@model ISpanSTA.ViewModel.CExamViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CExamViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FSujectId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FSujectId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FCourseId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FCourseId)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FCourseName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FCourseName)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FCategoryId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FCategoryId)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FCategoryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FCategoryName)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FTypeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FTypeId)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FTypeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FTypeName)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FQuestion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FQuestion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FOption1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FOption1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FOption2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FOption2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FOption3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FOption3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FOption4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FOption4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FAns)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FAns)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FAnsAnalyze)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FAnsAnalyze)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
